section.overview {
  position: relative;
  width: 70%;
  min-height: 55vh;
  @include JustifyCenter;
  margin: 0 auto;
  padding: 10vh 0;

  .title,
  .body {
    padding-bottom: 3%;
  }

  .button {
    @include JustifyCenter;
    button.read-more {
      @include JustifyCenter;
      border: 2px solid $borderColor;
      padding: 16px 35px;
      border-radius: 34px;
      background-color: transparent;
      p {
        padding-right: 19px;
      }
    }
  }
}
