<footer>
  <a href="tel:020 8558 9900">
    <div class="box">
      <span class="icon icon-call"></span>
      <div class="contact">
        <p class="contact-title">Phone</p>
        <p class="contact-text">020 8558 9900</p>
      </div>
    </div>
  </a>
  <a href="mailto:info@lifesycle.co.uk">
    <div class="box">
      <span class="icon icon-mail"></span>
      <div class="contact">
        <p class="contact-title">Mail</p>
        <p class="contact-text">info@lifesycle.co.uk</p>
      </div>
    </div>
  </a>
  <div class="box">
    <span class="icon icon-locationFill"></span>
    <div class="contact">
      <p class="contact-title">Address</p>
      <p class="contact-text">London/England</p>
    </div>
  </div>
</footer>
