<div class="feedback-modal">
  <div class="modal-header">
    <h3>Contact Form</h3>
    <a href="javascript:;" class="modal-close-btn modal-close">
      <span class="icon icon-close"></span>
    </a>
  </div>
  <div class="modal-body">
    <form action="#" method="post" data-lifesycle-form-id="uqZJLy5L06">
      <ul>
        <li>
          <p class="section-subTitle-small">Name <span>*</span></p>
          <input
            type="text"
            id="name"
            name="pZ8o7keWgU"
            required="required"
            placeholder="Enter Name"
          />
        </li>
        <li>
          <p class="section-subTitle-small">Surname <span>*</span></p>
          <input
            type="text"
            id="surname"
            name="8Tjk0jYSRD"
            required="required"
            placeholder="Enter Surname"
          />
        </li>
        <li>
          <p class="section-subTitle-small">Phone</p>
          <input
            type="tel"
            id="phone"
            name="qqpGSHVBQr"
            placeholder="Enter Phone"
          />
        </li>
        <li>
          <p class="section-subTitle-small">E-Mail <span>*</span></p>
          <input
            type="email"
            id="email"
            name="spD0cSD5KM"
            required="required"
            placeholder="Enter E-mail"
          />
        </li>
        <li>
          <p class="section-subTitle-small">Message</p>
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            name="26shIIIHr2"
            placeholder="Enter Message..."
          ></textarea>
        </li>
      </ul>
      <div class="modal-footer">
        <input
          type="checkbox"
          id="checkbox"
          name="bLrNyBfEkX[]"
          value="fTkAFAUcD21647259131"
          required="required"
        />
        <label for="checkbox">
          Please confirm that it is okay for us to contact you about this
          information as well as products and services. (You will always be
          given the right to unsubscribe at any point in the future)
        </label>
        <div class="button-actions">
          <button class="button-modal modal-close" type="button"><p>Cancel</p></button>
          <button class="button-modal" type="submit"><p>Send</p></button>
        </div>
      </div>
    </form>
  </div>
</div>
