<header>
  <div class="menu-btn">
    <span class="icon icon-menu"></span>
  </div>
  <div class="menu">
    <div class="close-menu">
      <span class="icon icon-close"></span>
    </div>

    <div class="nav">
      <ul class="main-menu">
        <li class="main-menu-item active">
          <div class="circle"></div>
          <a href="#">Home</a>
        </li>

        <li class="main-menu-item">
          <div class="circle"></div>

          <a href="#">Our Products </a>
        </li>

        <li class="main-menu-item">
          <div class="circle"></div>

          <a href="#">Portfolio </a>
        </li>

        <li class="main-menu-item">
          <div class="circle"></div>

          <a href="#">Our Story</a>
        </li>

        <li class="main-menu-item">
          <div class="circle"></div>

          <a href="#">Contact </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="contact">
    <div class="button">
      <button class="button-phone" aria-label="Call">
        <span class="icon icon-call"></span>
      </button>
      <a href="tel:020 8558 9900">020 8558 9900</a>
    </div>
  </div>
</header>
