/* 
  * style of contact button from components/Buttons.scss
*/
header {
  height: 8vh;
  @include SpaceBetween;
  padding: 4vh 15vh;
  @media screen and (max-width: $md) {      
    padding: 4vh 5vh;
  }    
  // mobile menu start
  menu-btn {
    position: fixed;
    margin: 1em;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $raidenBlue;
    opacity: 0;
    overflow: scroll;
    z-index: 999;
    .close-menu {
      position: fixed;
      margin: 2em 2.7em;
      z-index: 1;
    }
  }

  .nav {
    position: absolute;
    width: 100%;
    padding: 20% 10%;

    ul {
      li {
        border-radius: $mRadius;
        padding: 10px 40px;
        margin: 20px -20px;
        position: relative;
        &.active {
          background-color: $bracingBlue;
          .circle {
            position: absolute;
            top: 45%;
            width: 9px;
            height: 9px;
            border-radius: 9px;
            background-color: $yellow;
          }
        }
        .circle {
          position: absolute;
          top: 45%;
          width: 9px;
          height: 9px;
          border-radius: 9px;
          border: 1px solid $white;
        }
        a {
          color: $white;
          font-family: "Rubik Light";
          font-size: 1.8rem;
          display: flex;
          align-items: center;
          padding: 10px 30px;
          @media screen and (max-width: $sm){
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  // mobile menu end

 .contact{
  margin-left: auto;
  
  padding: 10vh 130px;

  @media screen and (max-width: $md) {      
    display: block;
    padding: 2vh 0vh;
  }    
  .button {    
    cursor: pointer;
    @include SpaceBetween;
    border: 2px solid $gray;
    border-radius: 31px;
    transition: 400ms all ease-in-out;
    &:hover {
      transition: 400ms all ease-in-out;
      background-color: $raidenBlue;
      color: $white;
      a{
        color: $white;
      }
    }
    a {
      padding: 0px 14px;
    }
  }
 }
}

// Custom Responsive Size for Header - Navigation  & Contact
@media screen and (max-width: $md) {
  header {
    display: flex;
    height: 10vh;
  }
}
@media screen and (min-width: 1025px) {
  .menu-btn {
    display: none;
  }
}
