<div class="container">
  <div class="wrap xl-2 lg-1 md-1 sm-1 xl-gutter-40">
    <div class="col">
      <div class="hero">
        <div class="head">
          <span class="icon icon-location"></span>&nbsp;
          <hr />
        </div>
        <h1 class="section-homeTitle">
          Market Appraisal for 32, Malmesbury Road, South Woodford, by
          Lifesycle
        </h1>
      </div>
    </div>
    <div class="col optionBoxContainer">
      <div class="optionBox">
        <div class="wrap xl-2">
          <div class="col">
            <div class="option line lineHorizontal left-hover">
              <span class="icon icon-calender"></span>
              <h6 class="optionBox-textSmall">Valudation Date</h6>
              <h5 class="optionBox-text">24 June 2019</h5>
            </div>
          </div>
          <div class="col">
            <div class="option lineHorizontal right-hover">
              <span class="icon icon-bedroom"></span>
              <h6 class="optionBox-textSmall">Bedrooms</h6>
              <h5 class="optionBox-text">24 June 2019</h5>
            </div>
          </div>

          <div class="col">
            <div class="option line left-hover">
              <span class="icon icon-seat"></span>
              <h6 class="optionBox-textSmall">Receptions</h6>
              <h5 class="optionBox-text">1</h5>
            </div>
          </div>
          <div class="col">
            <div class="option right-hover">
              <span class="icon icon-bathroom"></span>
              <h6 class="optionBox-textSmall">Bathrooms</h6>
              <h5 class="optionBox-text">3</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
