<nav class="navigation">
  <a href="#">
    <img src="./icons/Logo.svg" alt="" />
  </a>
  <a href="#">
    <div class="navigationBox">
      <span class="icon icon-home"></span>
    </div>
  </a>
  <a href="#">
    <div class="navigationBox">
      <span class="icon icon-pen"></span>
    </div>
  </a>
  <a href="#">
    <div class="navigationBox">
      <span class="icon icon-local"></span>
    </div>
  </a>
  <a href="#">
    <div class="navigationBox">
      <span class="icon icon-tag"></span>
    </div>
  </a>
  <a href="#">
    <div class="navigationBox">
      <span class="icon icon-search"></span>
    </div>
  </a>
  <a href="#">
    <div class="navigationBox">
      <span class="icon icon-questionFill"></span>
    </div>
  </a>
  <a href="#">
    <div class="navigationBox">
      <span class="icon icon-locationFill"></span>
    </div>
  </a>
</nav>