@font-face {
  font-family: "Rubik Bold";
  src: url("./media/fonts/Rubik-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Rubik Medium";
  src: url("./media/fonts/Rubik-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Rubik Regular";
  src: url("./media/fonts/Rubik-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Rubik Light";
  src: url("./media/fonts/Rubik-Light.ttf");
  font-display: swap;
}
