// Colors
$navigationColor: #0055a5;
$textColor: #2e2b2b;
$black: #000;
$optionBoxColor: #fef229;
$gray: #c9c9c9;
$white: #fff;
$raidenBlue: #0055a5;
$bracingBlue: #02417c;
$yellow: #fef200;
$sectionTitle: #535353;
$sectionSubTitle: #adadad;
$borderColor: #707070;
$buttonText: #777777;
$thimbleBerry: #de4a4b;
$backgroundColor2: #f4f7fa;
$abstractText: #f6f6f6;
$borderColor2: #e6e6e6;
$boldColor: #0b0b0b;

// Screen
$xl: 1400px;
$lg: 1280px;
$md: 960px;
$sm: 760px;

// Radii
$sRadius: 12px;
$mRadius: 16px;
